{% extends 'base.html' %}
{% block content %}

{% for i in janres %}
<a href="{% url 'search_page' i.id %}"> {{i.janre_book}} </a> /
{% endfor %}
<br>
 <div class="container">
     <form action="" method="get">
         <input name="author" placeholder="Автор">


     </form>

      </div>


<br>
<br>

  <!-- карточки товара -->
  <div class="container">
    <div class="row">

        {% for i in books %}



        <div class="col-md-4">
        <div class="card">
            {% if i.picture %}
          <a href="{% url 'detail_page' i.id %}"><img src="{{i.picture.url}}" class="card-img-top" alt="Товар 1"></a>
<!--          <a href="{% url 'detail_page' i.id %}"><img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" class="card-img-top" alt="Товар 1">-->
          {% else %}
          <a href="{% url 'detail_page' i.id %}"><img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" class="card-img-top" alt="Товар 1"></a>
             {% endif %}
              <div class="card-body">
            <h5 class="card-title"> {{i.janre}}</h5>
            <h5 class="card-title"> {{i.name}} {{i.author}}</h5>
                  <p class="card-text">{{i.info|truncatewords:15}} </p>
            <a href="{% url 'detail_page' i.id %}"></a>
          </div>
        </div>
        </div>

          {% endfor %}


      <!-- конец карточек товара -->

    </div>
  </div>
{% endblock %}
